<div class="container">
  <div class="row">
    <div class="l12 m12 s12">
      <div class="content-wrap">
        <h1>{{#if is_en}}Download{{else}} {{/if}}</h1>
        <div class="download-wrap">
          <div class="item">
            <span class="title">{{#if is_en}}Data Set (English){{else}}데이터 셋(영어){{/if}}</span>
            <span class="desc">{{#if is_en}}This data set includes all of the data used in the 'How Much Do I Emit?' porject.{{else}}이 데이터셋은 'How Much Do I Emit?' 프로젝트에 사용된 모든 데이터를 포함하고 있습니다.{{/if}}</span>
            <a href="/hmde/download/hmde-data-download-en.xlsx" target="_blank">{{#if is_en}}Click to Download{{else}}클릭하여 다운로드{{/if}} (.xlsx, 27KB)</a>
          </div>
          <div class="item">
            <span class="title">{{#if is_en}}Data Set (Korean){{else}}데이터 셋(한국어){{/if}}</span>
            <span class="desc">{{#if is_en}}This data set includes all of the data used in the 'How Much Do I Emit?' porject.{{else}}이 데이터셋은 'How Much Do I Emit?' 프로젝트에 사용된 모든 데이터를 포함하고 있습니다.{{/if}}</span>
            <a href="/hmde/download/hmde-data-download-ko.xlsx" target="_blank">{{#if is_en}}Click to Download{{else}}클릭하여 다운로드{{/if}} (.xlsx, 28KB)</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
