<div class="container">
  <div class="row">
    <div class="l12 m12 s12">
      <div class="content-wrap">
        <h1>{{#if is_en}}Download{{else}} {{/if}}</h1>
        <div class="download-wrap">
          <div class="item">
            <span class="title">{{#if is_en}}Data Set (English){{else}}데이터 셋(영어){{/if}}</span>
            <span class="desc">{{#if is_en}}This data set includes all of the data used in the 'What Percent Male are You?' porject.{{else}}이 데이터셋은 'What Percent Male are You?' 프로젝트에 사용된 모든 데이터를 포함하고 있습니다.{{/if}}</span>
            <a href="/wpmy/download/WPMY-data-download-en.xlsx" target="_blank">{{#if is_en}}Click to Download{{else}}클릭하여 다운로드{{/if}} (.xlsx, 144KB)</a>
          </div>
          <div class="item">
            <span class="title">{{#if is_en}}Data Set (Korean){{else}}데이터 셋(한국어){{/if}}</span>
            <span class="desc">{{#if is_en}}This data set includes all of the data used in the 'What Percent Male are You?' porject.{{else}}이 데이터셋은 'What Percent Male are You?' 프로젝트에 사용된 모든 데이터를 포함하고 있습니다.{{/if}}</span>
            <a href="/wpmy/download/WPMY-data-download-ko.xlsx" target="_blank">{{#if is_en}}Click to Download{{else}}클릭하여 다운로드{{/if}} (.xlsx, 145KB)</a>
          </div>
          <div class="item">
            <span class="title">{{#if is_en}}Summary Report (English){{else}}요약 보고서(영어){{/if}}</span>
            <span class="desc">{{#if is_en}}This report involves basic descriptive statistics, estimation process, remarks, and further comparisons of the data.{{else}}이 프로젝트에 활용된 자료의 기술 통계, 추산 과정, 주목할 점, 비교 내용 등을 담고 있습니다.{{/if}}</span>
            <a href="/wpmy/download/WPMY-summary-download-en.pdf" target="_blank">{{#if is_en}}Click to Download{{else}}클릭하여 다운로드{{/if}} (.pdf, 1,544KB)</a>
          </div>
          <div class="item">
            <span class="title">{{#if is_en}}Summary Report (Korean){{else}}요약보고서(한국어){{/if}}</span>
            <span class="desc">{{#if is_en}}This report involves basic descriptive statistics, estimation process, remarks, and further comparisons of the data.{{else}}이 프로젝트에 활용된 자료의 기술 통계, 추산 과정, 주목할 점, 비교 내용 등을 담고 있습니다.{{/if}}</span>
            <a href="/wpmy/download/WPMY-summary-download-en.pdf" target="_blank">{{#if is_en}}Click to Download{{else}}클릭하여 다운로드{{/if}} (.pdf, 2,432KB)</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
