<div class="container">
  <div class="row">
    <div class="l12 m12 s12">
      <div class="content-wrap">
        <h1>{{#if is_en}}Download{{else}} {{/if}}</h1>
        <div class="download-wrap">
          <div class="item">
            <span class="title">{{#if is_en}}Data Set (English){{else}}데이터 셋(영어){{/if}}</span>
            <span class="desc">{{#if is_en}}This data set includes all of the data used in the 'How Much Is My Labor?' porject.{{else}}이 데이터셋은 'How Much Is My Labor?' 프로젝트에 사용된 모든 데이터를 포함하고 있습니다.{{/if}}</span>
            <a href="/hmml/download/hmml-data-download-en.xlsx" target="_blank">{{#if is_en}}Click to Download{{else}}클릭하여 다운로드{{/if}} (.xlsx, 51KB)</a>
          </div>
          <div class="item">
            <span class="title">{{#if is_en}}Data Set (Korean){{else}}데이터 셋(한국어){{/if}}</span>
            <span class="desc">{{#if is_en}}This data set includes all of the data used in the 'How Much Is My Labor?' porject.{{else}}이 데이터셋은 'How Much Is My Labor?' 프로젝트에 사용된 모든 데이터를 포함하고 있습니다.{{/if}}</span>
            <a href="/hmml/download/hmml-data-download-ko.xlsx" target="_blank">{{#if is_en}}Click to Download{{else}}클릭하여 다운로드{{/if}} (.xlsx, 51KB)</a>
          </div>
          <div class="item">
            <span class="title">{{#if is_en}}Minimum Wage Estimation{{else}}최저 임금 추산{{/if}}</span>
            <span class="desc">{{#if is_en}}Explains the process of estimating minimum wage of the countries which have no legislated minimum wage.{{else}}최저임금이 법제화되지 않은 나라의 최저임금 추산에 관한 내용을 담고 있습니다.{{/if}}</span>
            <a href="/hmml/download/minimum-wage-estimation.pdf" target="_blank">{{#if is_en}}Click to Download{{else}}클릭하여 다운로드{{/if}} (.pdf, 192KB)</a>
          </div>
          <div class="item">
            <span class="title">{{#if is_en}}Minimum Wage Index (2015-2016){{else}}최저 임금 지수 (2015-2016){{/if}}</span>
            <span class="desc">{{#if is_en}}This book provides more profound analysis of this project by estimating minimum wage index.{{else}}최저임금지수를 통해 더 깊은 데이터 해석을 만나보세요.{{/if}}</span>
            <a href="https://drive.google.com/file/d/0B7Htnl88tDD6OUprM09SUlZfNG8/view?usp=sharing" target="_blank">{{#if is_en}}Click to Download{{else}}클릭하여 다운로드{{/if}} (.xlsx, 10MB)</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
