<div class="container">
  <div class="row">
    <div class="l3 m12 s12">
      <div class="content-wrap">
        {{#if is_en}}
          <h1>Plots</h1>
        {{else}}
          <h1>XY-그래프</h1>
        {{/if}}
      </div>
    </div>
    <div class="l9 m12 s12">
      <div class="content-wrap mob-rel">
        <div class="sublist_foldable multiple" data-open="false">
          <div class="folder" id="plot_list_1">
            {{#if is_en}}
              <span>X Axis</span>
            {{else}}
              <span>X 축</span>
            {{/if}}
          </div>
        </div>
        <div class="sublist_foldable multiple" data-open="false">
          <div class="folder" id="plot_list_2">
            {{#if is_en}}
              <span>Y Axis</span>
            {{else}}
              <span>Y 축</span>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    
    <div class="l12 m12 s12">
      <div class="content-wrap graph-wrap">
        <div id="plot_area"></div>
        <div id="graph_tooltip" data-show="false">
          <span class="name"></span>
          <span class="value x"></span>
          <span class="value y"></span>
        </div>
      </div>
    </div>
    
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="/hmml/js/hmml_utility.js"></script>
<script src="/hmml/js/plot_control.js"></script>
<script>
  let plot_area = '#plot_area';
  create_plot_list('#plot_list_1', plot_area, "{{ln}}", "x");
  create_plot_list('#plot_list_2', plot_area, "{{ln}}", "y");
  get_plot(plot_area, "gdpcUsd", "forBm", "{{ln}}");
  $('.sublist_foldable')
    .on('mouseover', function() { $(this).attr('data-open', 'true') })
    .on('mouseout', function() { $(this).attr('data-open', 'false') });
</script>